# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/